<header>
    <nav class="be-red white large-padding">
    <ul class="no-list row center-xs middle-xs">
        <li class="col-md">
        <h1 class="no-margin" id="logo">Blog Einsen</h1>
        </li>
        <li class="col-md">
        <%= link_to "Inicio", root_path %>
        </li>
        <li class="col-md">
        Diseño
        </li>
        <li class="col-md">
        Programación
        </li>
        <li class="col-md">
        Tecnología
        </li>
        <% if usuario_signed_in? %>
            <li class="col-md">
                <%= link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete%>
            </li>
        <% else %>
            <li class="col-md">
                <%= link_to 'Iniciar Sesión', new_usuario_session_path %>
            </li>
            <li class="col-md">
                <%= link_to 'Crear Cuenta', new_usuario_registration_path %>
            </li>
        <% end %>
    </ul>
    </nav>
</header>