<h1>Artículos</h1>
<% @articulos.each do |articulo| %>
    <h2><%= link_to articulo.titulo, articulo%></h2>
    <div>
        <%= articulo.cuerpo%> - <%= link_to "Eliminar", articulo, class: "danger", method: :delete%>
    </div>
<%end%>
